@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

main {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  color: darkslategrey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
}

input, textarea {
  width: 100%;
  height: 3rem;
  margin: 0.8rem 0;
  font-size: 0.8rem;
  padding: 0 1rem;
}

label {
  font-size: 1rem;
  margin: 0.5rem 0;
  margin-top: 1rem;
}

textarea {
  height: 20vh;
  resize: none;
  border: 1px solid lightgrey;
  padding: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: silver;
}

#submit {
  background-color: slategray;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-style: bold;

  transform: translateY(0);
  transition: 0.2s ease;
}

#submit:hover {
  transform: translateY(-0.1rem);
  transition: 0.2s ease;
  cursor: pointer;
}


#submit:hover:disabled {
  transform: translateY(0);
  transition: 0.2s ease;
  cursor: not-allowed;
}

#submit:disabled {
  filter: brightness(150%);
}